Import Pandas

In [23]:
import pandas as pd 

df = pd.read_csv('pokemon_data.csv')
# df = pd.read_excel('pokemon_data.xlsx')
# df = pd.read_csv('pokemon_data.csv', delimiter='\t')
# df = pd.read_json()

Viewing data

In [27]:
df.head(5)
# df.tail()
# df.info()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Reading Data

In [65]:
# Read Headers
df.columns

# Read each Column
df['HP']

# Reading multiple Column
df[['Name','HP','Legendary']]

# Read each Row
df.iloc[3]
df.iloc[1:5]
for index, row in df.iterrows():
    index, row[3:]
print(df.loc[df['Name'] == 'Ivysaur'])

# Read specific character
df.iloc[3,2]

   #     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
1  2  Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
1           1      False

'Grass'

Mean/Median/Mode/Std

Sorting

In [63]:
# Describes the whole dataset
df.describe()
# Mean
df.mean(numeric_only=True)
# Median
df.median(numeric_only=True)
# Standard Deviation
df.std(numeric_only=True)

# Sorting 
df.sort_values('HP', ascending=False)

Adding a column

In [86]:
# Changing the data
# Manually
# df['Total'] = df['HP'] + df['Attack'] 

df['Total'] = df.iloc[:,4:10].sum(axis=1)

# Rearranging the dataset
cols = list(df.columns)
df = df[cols[:4] + [cols[-1]] + cols[4:12]]

# df = df.drop(columns='Total')
print(df.head(3))

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2    Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3   Venusaur  Grass  Poison    525  80      82       83      100      100

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False

Saving into  new file

In [87]:
df.to_csv('new.csv', index=False)
df.to_excel('new.xlsx', index=False)
df.to_csv('new.txt', index=False, sep='\t')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Filtering Data

In [93]:
new_df = df.loc[(df['Type 1'] == 'Fire') & (df['HP'] > 100)]
# new_df.to_csv('new2.csv')

new_df = new_df.reset_index(drop=True)
# or
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
1,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
2,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
3,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
4,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False

Regex Filtering

In [112]:
# Contains
# df.loc[df['Name'].str.contains('Mega')]
# Not comtains
# df.loc[~df['Name'].str.contains('Mega')]

# Regex
import re
print(df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)])
df.loc[(df['Type 1'].str.contains('fire', flags=re.I, regex=True))&df['Type 2'].str.contains('flying', flags=re.I, regex=True)]

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0      1              Bulbasaur  Grass  Poison    318   45      49       49
1      2                Ivysaur  Grass  Poison    405   60      62       63
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
4      4             Charmander   Fire     NaN    309   39      52       43
..   ...                    ...    ...     ...    ...  ...     ...      ...
735  667                 Litleo   Fire  Normal    369   62      50       58
736  668                 Pyroar   Fire  Normal    507   86      68       72
740  672                 Skiddo  Grass     NaN    350   66      65       48
741  673                 Gogoat  Grass     NaN    531  123     100       62
799  721              Volcanion   Fire   Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
735       73       54     72           6      False
736      109       66    106           6      False
740       62       57     52           6      False
741       97       81     68           6      False
799      130       90     70           6       True

[122 rows x 13 columns]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False

Conditional Changes

In [125]:
df.loc[df['Type 1'] == 'Fire', ['Type 1','Type 2']] = ['Flame','Water']
df.loc[df['Type 1']=='Flame']

print(df.loc[df['Type 1'] == 'Flame'])

       #                       Name Type 1 Type 2  Total   HP  Attack  \
4      4                 Charmander  Flame  Water    309   39      52
5      5                 Charmeleon  Flame  Water    405   58      64
6      6                  Charizard  Flame  Water    534   78      84
7      6  CharizardMega Charizard X  Flame  Water    634   78     130
8      6  CharizardMega Charizard Y  Flame  Water    634   78     104
42    37                     Vulpix  Flame  Water    299   38      41
43    38                  Ninetales  Flame  Water    505   73      76
63    58                  Growlithe  Flame  Water    350   55      70
64    59                   Arcanine  Flame  Water    555   90     110
83    77                     Ponyta  Flame  Water    410   50      85
84    78                   Rapidash  Flame  Water    500   65     100
135  126                     Magmar  Flame  Water    495   65      95
147  136                    Flareon  Flame  Water    525   65     130
158  146                    Moltres  Flame  Water    580   90     100
169  155                  Cyndaquil  Flame  Water    309   39      52
170  156                    Quilava  Flame  Water    405   58      64
171  157                 Typhlosion  Flame  Water    534   78      84
236  218                     Slugma  Flame  Water    250   40      40
237  219                   Magcargo  Flame  Water    410   50      50
259  240                      Magby  Flame  Water    365   45      75
263  244                      Entei  Flame  Water    580  115     115
270  250                      Ho-oh  Flame  Water    680  106     130
276  255                    Torchic  Flame  Water    310   45      60
277  256                  Combusken  Flame  Water    405   60      85
278  257                   Blaziken  Flame  Water    530   80     120
279  257      BlazikenMega Blaziken  Flame  Water    630   80     160
352  322                      Numel  Flame  Water    305   60      60
353  323                   Camerupt  Flame  Water    460   70     100
354  323      CameruptMega Camerupt  Flame  Water    560   70     120
355  324                    Torkoal  Flame  Water    470   70      85
435  390                   Chimchar  Flame  Water    309   44      58
436  391                   Monferno  Flame  Water    405   64      78
437  392                  Infernape  Flame  Water    534   76     104
518  467                  Magmortar  Flame  Water    540   75      95
542  485                    Heatran  Flame  Water    600   91      90
557  498                      Tepig  Flame  Water    308   65      63
558  499                    Pignite  Flame  Water    418   90      93
559  500                     Emboar  Flame  Water    528  110     123
572  513                    Pansear  Flame  Water    316   50      53
573  514                   Simisear  Flame  Water    498   75      98
614  554                   Darumaka  Flame  Water    315   70      90
615  555    DarmanitanStandard Mode  Flame  Water    480  105     140
616  555         DarmanitanZen Mode  Flame  Water    540  105      30
692  631                    Heatmor  Flame  Water    484   85      97
721  653                   Fennekin  Flame  Water    307   40      45
722  654                    Braixen  Flame  Water    409   59      59
723  655                    Delphox  Flame  Water    534   75      69
730  662                Fletchinder  Flame  Water    382   62      73
731  663                 Talonflame  Flame  Water    499   78      81
735  667                     Litleo  Flame  Water    369   62      50
736  668                     Pyroar  Flame  Water    507   86      68
799  721                  Volcanion  Flame  Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
42        40       50       65     65           1      False
43        75       81      100    100           1      False
63        45       70       50     60           1      False
64        80      100       80     95           1      False
83        55       65       65     90           1      False
84        70       80       80    105           1      False
135       57      100       85     93           1      False
147       60       95      110     65           1      False
158       90      125       85     90           1       True
169       43       60       50     65           2      False
170       58       80       65     80           2      False
171       78      109       85    100           2      False
236       40       70       40     20           2      False
237      120       80       80     30           2      False
259       37       70       55     83           2      False
263       85       90       75    100           2       True
270       90      110      154     90           2       True
276       40       70       50     45           3      False
277       60       85       60     55           3      False
278       70      110       70     80           3      False
279       80      130       80    100           3      False
352       40       65       45     35           3      False
353       70      105       75     40           3      False
354      100      145      105     20           3      False
355      140       85       70     20           3      False
435       44       58       44     61           4      False
436       52       78       52     81           4      False
437       71      104       71    108           4      False
518       67      125       95     83           4      False
542      106      130      106     77           4       True
557       45       45       45     45           5      False
558       55       70       55     55           5      False
559       65      100       65     65           5      False
572       48       53       48     64           5      False
573       63       98       63    101           5      False
614       45       15       45     50           5      False
615       55       30       55     95           5      False
616      105      140      105     55           5      False
692       66      105       66     65           5      False
721       40       62       60     60           6      False
722       58       90       70     73           6      False
723       72      114      100    104           6      False
730       55       56       52     84           6      False
731       71       74       69    126           6      False
735       58       73       54     72           6      False
736       72      109       66    106           6      False
799      120      130       90     70           6       True